<html>
  <body>
    <h1>Hello, World!</h1>
    <h2>Node FQDN: <%= node['fqdn'] %></h2>
    <h2>Node Platform: <%= node['platform'] %></h2>

    <p>Testing auto chef client run..</p>
  </body>
</html>
